apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: devops-platform
type: Opaque
stringData:
  # Replace with actual base64 decoded values or use stringData directly
  JWT_SECRET: "your-production-jwt-secret-here-at-least-32-characters"
  MONGO_URI: "mongodb://mongo-0.mongo.devops-platform.svc.cluster.local:27017/ai-devops-interview"
  ANTHROPIC_API_KEY: "sk-ant-api03-xxxxxxxxxxxxxxxxxxxx"
